{% extends 'enninapp/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
    	<div class="order_summary d-none d-lg-block">
    		<div class="row m-4" style="text-align: center;">
    			<div class="col-3 ml-auto">
    				<h4>Product</h4>
    			</div>
    			<div class="col-2">
    				
    			</div>
    			<div class="col-2 mr-auto">
    				<h4>Price</h4>
    			</div>	
    		</div>
			<hr>
    		

			{% for item in objects.items.all %}
			<div class="row ">

    			<div class="col-3 ml-auto ">
    				<div class="cart-img-product b-rad-4 o-f-hidden">
						<img src="{{item.item.image.url}}" alt="IMG-PRODUCT">
					</div>
    			</div>
    			<div class="col-2">
    				{{item.item.name}}
    			</div>
    			<div class="col-2 mr-auto">
    				{{item.get_total_item_price}}
    			</div>
    		</div>
			<hr>
    		{% endfor %}
    	</div>
		
		
			







    	<!-- MOBILE VIEW -->

    	<div class="order_summary d-lg-none">

			<div class="row m-4">
    			<div class="col-4 ml-auto" style="text-align: center;">
    				<h5>Product</h5>
    			</div>
    			<div class="col-5">
    				
    			</div>
    			<div class="col-2 mr-auto" style="text-align: center;">
    				<h5>Price</h5>
    			</div>
    		</div>
			<hr>

    		{% for item in objects.items.all %}

			<div class="row ">
    			<div class="col-4 ml-auto ">
    				<div class="cart-img-product b-rad-4 o-f-hidden">
						<img src="{{item.item.image.url}}" alt="IMG-PRODUCT">
					</div>
    			</div>
    			<div class="col-5">
    				{{item.item.name}}
    			</div>
    			<div class="col-2 mr-auto">
    				{{item.get_total_item_price}}
    			</div>
    		</div>
			<hr>
			{% endfor %}
    		
    	</div>
		{% if user.profile.address and  user.profile.phone_number %}
		<div class="p-2 card shadow">
			<strong>Your Details:</strong>
			<h6 class="mb-2">Address:<small> {{user.profile.address}}</small></h6>
			<h6>Phone Number: <small>{{user.profile.phone_number}}</small></h6>
			<a href="{% url 'profile_edit' objects.id %}"><button class="btn btn-dark mt-4">Edit</button></a>
		</div>

		{% else %}
		<h5 class="mb-2">Please add your address</h5>	
		<div style="background-color: rgba(0,0,0,0.2);" class="p-2">
			<form action="", method='POST'>
			{% csrf_token %}
			{{form|crispy}}
			<button type="submit" class="btn btn-dark">Save</button>
			</form>	
		</div>
		{% endif %}

    	<div class="bo9 w-size18 p-l-40 p-r-40 p-t-30 p-b-38 m-t-30 m-r-0 m-l-auto p-lr-15-sm mb-3 brand">
			<h5 class="m-text20 p-b-24">
				Details
			</h5>
			 <form>
				<script src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
				
			  	<div class="flex-w flex-sb-m p-t-18 p-b-20">
					<span class="m-text22 w-size19 w-full-sm">
						Total:
					</span>

					<span class="m-text21 w-size20 w-full-sm">
						${{objects.get_total}}
					</span>
				</div>

				<div class="size15 trans-0-4">
					<!-- Button -->
					<button type="button" onClick="payWithRave()" class="btn btn-dark">Pay Now</button>
				</div>
			</form>  
			{% comment %} <form>
				<script src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
				<h3>SUPPORT NATURE WITH AS LOW AS $1</h3>
				<button type="button" onClick="payWithRave()">Donate Here</button>
			</form> {% endcomment %}


			
		</div>
	

    </div>


	{% comment %} <script>
   function makePayment() {
    FlutterwaveCheckout({
      public_key: "{{key}}",
      tx_ref: "{{ref}}",
      amount: {{objects.get_total}},
      currency: "GHS",
      country: "GH",
      payment_options: "mobilemoneyghana",
 
      meta: {
        consumer_id: {{user.id}},
        consumer_mac: "92a3-912ba-1192a",
      },
      customer: {
        email: "{{user.email}}",
        phone_number: "{{user.profile.phone_number}}",
        name: "{{user.first_name}} {{user.last_name}}",
      },
      callback: function(response) {
					var txref = response.tx.txRef;
					console.log("This is the response returned after a charge", response);
					if (
						response.tx.chargeResponseCode == "00" ||
						response.tx.chargeResponseCode == "0"
					) {
						document.location.href = "{% url 'success' objects.id %}"
							
					} else {
						document.location.href = "{% url 'enninapp_home' %}"
					}
					x.close();
				},
      onclose: function() {
        // close modal
      },
      customizations: {
        title: "GeTiT Shop",
        description: "Payment for items in cart",
        logo: "{% static 'images/icons/gt.png' %}",
      },
    });
  }
</script>  {% endcomment %}

 <script>
        const publicKey = "{{ key }}";

        function  payWithRave() {
            var x = getpaidSetup({
                PBFPubKey: publicKey,
                customer_email: "{{user.email}}",
                amount: {{objects.get_total}},
                customer_phone: "{{user.profile.phone_number}}",
                currency: "GHS",
                txref: "{{ref}}",
                custom_title: "Dabiara Shop",
                onclose: function() {},
                callback: function(response) {
					var txref = response.tx.txRef;
					console.log("This is the response returned after a charge", response);
					if (
						response.tx.chargeResponseCode == "00" ||
						response.tx.chargeResponseCode == "0"
					) {
						document.location.href = "{% url 'success' objects.id %}"
							// redirect to a success page
					} else {
						
					}
					x.close();
				}
            });
        }
    </script>

{% endblock content %}