
{% extends 'enninapp/base.html' %}



{% block title %}
	Checkout-Page GeTiT

{% endblock title %}



{% block content %}

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Billing address</h3>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="first-name" placeholder="First Name">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="last-name" placeholder="Last Name">
							</div>
							
							<div class="form-group">
								<input class="input" type="text" name="address" placeholder="Address">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="city" placeholder="City">
							</div>
							
							<div class="form-group">
								<input class="input" type="tel" name="tel" placeholder="Telephone">
							</div>
							
						</div>
						<!-- /Billing Details -->

						<!-- Shiping Details -->
						
						<!-- /Shiping Details -->

						<!-- Order notes -->
						<div class="order-notes">
							<textarea class="input" placeholder="Order Notes"></textarea>
						</div>
						<!-- /Order notes -->
					</div>

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Your Order</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>PRODUCT</strong></div>



								<!-- <div><strong>TOTAL</strong></div> -->



							</div>



							{% for order_item in objects.items.all %}
							<div class="order-products">
								<div class="order-col">
									
									<div>{{order_item.quantity}}x {{order_item.item.name}}</div>
									<div>
										
										
											{% if order_item.item.discount_price %}
								                Ghc {{order_item.get_total_discount_item_price}}
								           {% else %}
								                Ghc {{order_item.get_total_item_price}}

							                {% endif %}
							            



									</div>
									
								</div>
								<!-- <div class="order-col">
									<div>2x Product Name Goes Here</div>
									<div>$980.00</div>
								</div> -->
							</div>
							{% endfor %}
							
							<div class="order-col">
								<div><strong>TOTAL</strong></div>
								<div><strong class="order-total">Ghc {{objects.get_total}}</strong></div>
							</div>
						</div>
						<div class="payment-method">
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-1">
								<label for="payment-1">
									<span></span>
									Pay On Delivery
								</label>
								<div class="caption">
									<p>Pay for the product ones it is delivered to you.</p>
								</div>
							</div>
							
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-3">
								<label for="payment-3">
									<span></span>
									Make Payment Now
								</label>
								<div class="caption">
									<p>Pay now and get the product delivered to you faster.</p>
								</div>
							</div>
						</div>
						
						<a href="#" class="primary-btn order-submit">Place order</a>
					</div>
					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

{% endblock content %}