{% extends 'enninapp/base.html' %}
{% block title %}
Contact Us
{% endblock title %}

{% load static %}


{% block content %}

    

	<!-- Title Page -->
	

	<!-- content page -->
	<section class="bgwhite p-t-66 p-b-60">
		<div class="container card shadow">
			<div class="row">
				{% comment %} <div class="col-md-6 p-b-30">
					<div class="p-r-20 p-r-0-lg">
						<div class="contact-map size21" id="google_map" data-map-x="40.614439" data-map-y="-73.926781" data-pin="{% static 'images/icons/icon-position-map.png' %}" data-scrollwhell="0" data-draggable="1"></div>
					</div>
				</div> {% endcomment %}

				<div class="col-md-6 p-b-30 ml-auto mr-auto">
					<form class="leave-comment">
						<h4 class="m-text26 p-b-36 p-t-15">
							Send us your message
						</h4>

						<div class="bo4 of-hidden size15 m-b-20">
							<input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="name" placeholder="Full Name">
						</div>

						<div class="bo4 of-hidden size15 m-b-20">
							<input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="phone-number" placeholder="Phone Number">
						</div>

						<div class="bo4 of-hidden size15 m-b-20">
							<input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="email" placeholder="Email Address">
						</div>

						<textarea class="dis-block s-text7 size20 bo4 p-l-22 p-r-22 p-t-13 m-b-20" name="message" placeholder="Message"></textarea>

						<div class="w-size25">
							<!-- Button -->
							<button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
								Send
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>


	

{% endblock content %}