{% extends 'enninapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container mt-4 p-3" style="margin-bottom: 40px; margin-left: auto; text-align: center; margin-right: auto; background-color: #DAE0E2;">
        <form method="POST" style="">
            {% csrf_token %}
            <legend>RESET PASSWORD</legend>
            <hr>
            <br>
            {{ form|crispy }}
            <br>
            <button type="submit" style="wslugth: auto; height: 40px; border-radius: 40px; font-weight: bold; font-size: 16px" class="btn btn-dark ">Reset Password</button>
            
        </form>
        <br>
    
    </div>

{% endblock content %}