{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Register-Page GeTiT</title>
        <link rel="stylesheet" href="{% static 'css2/style_R.css' %}">
    </head>

    <body>
        <div class="box">
            <form method="POST" style="">
                {% csrf_token %}
                <legend>RESET PASSWORD</legend>
                <hr>
                <br>
                {{ form|crispy }}
                <br>
                <button type="submit" style="width: auto; height: 40px; border-radius: 40px; font-weight: bold; font-size: 16px" >Reset Password</button>
                
             </form>
             <br>
           
        </div>


    </body>


</html>