{% extends 'enninapp/base.html' %}

{% block content %}

<section>
			<div class="div_acc">
				<h2 id="profile_title">Account</h2>
			</div>

			<div style="width: 80%; height: auto; margin-left: 10%">
				<div class="col-lg-6 col-sm-6">
					<img src="{{ user.profile.image.url }}" style="width: 120px; height: 120px;" >
					<br>
					<strong style="padding-bottom: 30px">{{ user.username }}</strong>
					<p>
						{{ user.email }}
					</p>
						
				</div>
				<br>
				<div class="col-lg-6 col-sm-6">
					<h2> Activities</h2>

					<ul style="padding-bottom: 50px;">
						<li><a href="">My Orders</a></li>
						<br>
						<li><a href="">My Wish List</a></li>
						<li><a href=""></a></li>
					</ul>
						
				</div>
			</div>
			<hr>
			
			<div style="width: 80%; height: auto; margin-right: 10%; margin-left: 10%; margin-top: 50px; margin-bottom: 30px" >
				<div>
					<h2 style="margin-top: 10px">
							Account Settings
					</h2>
				</div>
				
				<br>
				<strong>Update Profile Name</strong><br>
				<br>


				<strong>Update Profile Picture</strong>
			</div>
		
			
		</section>

{% endblock content %}