{% extends "enninapp/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container mt-4 p-3" style="margin-bottom: 40px; margin-left: auto; text-align: center; margin-right: auto; background-color: #DAE0E2;">
        <form method="POST">
        {% csrf_token %}
        <legend>JOIN TODAY</legend>
        <hr>
        <br>
        {{ form|crispy }}
        <br>
        <button type="submit" style="wslugth: 100px; height: 40px; border-radius: 40px; font-weight: bold; font-size: 16px;" class="btn btn-dark " >Sign Up</button>
        
            </form>
            <br>
        <div>
            <small>Already Have An Account?  <a href="{% url 'login' %}"> Sign In</a></small>
        </div>
    </div>

{% endblock content %}